html,
body
{
    height: 100%;
    font-family: Segoe UI;
    background-image: url("../Images/rwm.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar .brand
{
    font-size: 26px;
}

.navbar-inner 
{
    min-height: 46px;
    padding-top: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}